body {
  background-color: #070724;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  
}
h1{
  margin-left: 2rem;
  height: 36px;
  top: calc(50% - 36px/2);
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.05px;
  text-transform: uppercase;
  margin-bottom: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container-top{
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  padding-bottom: 1rem;
}
.container-list{
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 10px;
}
a{
  margin-top: 2rem;
  height: 25px;
  top: calc(50% - 25px/2);
  text-decoration: none;
  left: 33.09%;
  font-family: 'League Spartan', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1.36364px;
  text-transform: uppercase;
  list-style: none;
  color: #fff;
  display: flex;
  margin-bottom: 20px;
  width: 327px;
}
#circle{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-right: 1rem;
}
.arrow{
  justify-self: end;
  align-self: center;
  opacity: 0.4;
  margin-right: 2rem;
}
.container-list-item{
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  display:flex;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 20rem;
  top: 1.5rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #FFFFFF;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #FFFFFF;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  
  
}

/* General sidebar styles */
.bm-menu {
  background: #070724;
  font-size: 1.15em;
  width: 105%;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Individual item */
.bm-item {
  display: inline-block;
  
}